.SearchResults {
  width: 50%;
  height: 250px;
  overflow-y: scroll;
  padding: .88rem;
  background-color: #333333;
  box-shadow: 0 4px 2px 2px #333333;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}